* {
  font-family: 'Quicksand';
}

body div {
  margin: 0px 0px 0px 0px;
}

.wrapper {
  height: 100vh;
  background: #cecece;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  color: #353535;
  margin-bottom: 34px;
}

.block {
  display: grid;
  background: #ffffff;
  border-radius: 12px;
  padding: 32px;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  min-width: 392px;
}

.filter {
  padding: 10px;
}

.filterTodos{
  border: 1px solid #e6e6e6;
  padding: 5px;
  border-radius: 6px;
}

.input {
  padding: 0 16px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  width: 320px;
  height: 40px;
}

.add {
  width: 60px;
  height: 40px;
  background: #4094f7;
  border-radius: 6px;
  color: white;
}

.todosList {
  margin-bottom: 11px;
}

.todo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 24px;
  width: 392px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  /* box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05); */
  border-radius: 8px;
  /* box-shadow: 0 0 10px black; */
  margin-bottom: 11px;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo_input {
  flex-grow: 1;
}

.notEditable {
  pointer-events: none;
}

.edit {
}

.delete {
}

.bx-trash {
}

.clear {
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.006em;
  color: #0e73f6;
  width: max-content;
  margin: 0 auto;
}

.none {
  display: none;
}
